

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" th:href="@{/layuiadmin/layui/css/layui.css}">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all" th:href="@{/layuiadmin/style/admin.css}">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户id</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" lay-verify="number" placeholder="请输入用户id" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userRole" lay-verify="number" placeholder="请输入角色id" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit lay-filter="LAY-app-contcomm-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-comm layui-btn-danger" data-type="createProdcut" id="btn_create">添加用户</button>
                <button class="layui-btn layuiadmin-btn-comm layui-btn-danger" data-type="batchdel" id="btn_batchdel">批量删除</button>
            </div>
            <!--  lay-filter 想当于 layui框架自定义 的id 属性-->
            <table id="mytable" lay-filter="mytable"></table>
            <script type="text/html" id="table-content-com">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar-Mytable">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../../../layuiadmin/layui/layui.js" th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        // base: [('"'+@{/layuiadmin/}+'"')]
        // base:'@{/layuiadmin/}'
        base:'/layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table','layer','util'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,layer =layui.layer;
        table.render({
            elem: '#mytable'
            ,method:"get"
            ,url:'/list/searchBackUserInfo'
            ,page: true
            ,cols: [     [
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'userId', title: '用户Id',sort: true}
                ,{field: 'userName', title: '用户名'}
                ,{field: 'password', title: '密码'}
                ,{field: 'userRole', title: '角色'}
                ,{field: 'sex', title: '性别'}
                ,{field: 'phone', title: '电话'}
                ,{field: 'email', title: '邮件'}
                ,{field: 'registerTime', title: '注册时间',templet:'<div>{{ layui.util.toDateString(d.registerTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field: 'imageUrl', title: '图片路径'}
                ,{field: 'payPassword', title: '支付密码'}
                ,{fixed: 'right', title: '备注',  align:'center', toolbar: '#toolbar-Mytable',width:180}

            ]   ]
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": (res.code==200?0:500), //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
            ,request: {
                pageName: 'pageNo' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,limits:[10,20,30,60]
        });

        //监听表格的工具：行的删除、编辑、查看
        table.on('tool(mytable)', function(obj){
            var data = obj.data;

            //查看操作
            if(obj.event === 'detail'){
                // layer.msg('ID：'+ data.productId + ' 的查看操作');
                var userId=data.userId;
                layer.open({
                    title:"查看商品",
                    type: 2,
                    content: '/list/showUserDetail?userId='+userId,
                    area: ['725px', '560px'],
                    maxmin: true,
                    //打开默认全屏
                    // success: function(layero, index){
                    //     layer.full(index);
                    // }
                });


            //删除操作
            }
            else if(obj.event === 'del'){
                layer.confirm('真的要删除 --'+data.userName+"--吗？请慎重！", function(index){
                    var proIds=[];
                    proIds.push(data.userId)
                    $.ajax({
                        type:"POST",
                        contentType:"application/json",
                        url:"/list/deleteUsersInfo",
                        data:JSON.stringify(proIds),
                        success:function (msg) {
                            if(msg["success"]){
                                obj.del();
                                layer.msg("操作执行成功~"+msg["data"]+"条记录已删除~",{time:900},function () {
                                    layer.close(index);
                                    table.reload('mytable');
                                })
                            }
                        },
                        dataType:"json"
                    });
                });
            }
            //编辑操作
            else if(obj.event === 'edit'){
                // layer.alert('编辑行：<br>'+ JSON.stringify(data))
                var userId=data.userId;
                layer.open({
                    title:"编辑商品",
                    type: 2,
                    content: '/list/updateUserToBackPage?userId='+userId,
                    area: ['725px', '560px'],
                    maxmin: true,
                    //打开默认全屏
                    // success: function(layero, index){
                    //     layer.full(index);
                    // }
                });





            }
        });


        //监听搜索
        form.on('submit(LAY-app-contcomm-search)', function(data){
            var field = data.field;
            // alert(JSON.stringify(field))
            //执行重载
            table.reload('mytable', {
                where: field
            });
        });

      //点击 批量删除 事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('mytable')
                    ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                layer.confirm('确定删除吗？', function(index) {

                    var userIds=[];

                    for (var i=0;i<checkData.length;i++){

                        userIds.push( checkData[i].userId);
                    }

                    $.ajax({
                        type:"POST",
                        contentType:"application/json",
                        url:"/list/deleteUsersInfo",
                        data:JSON.stringify(userIds),

                        success:function (msg) {
                            if(msg["success"]){
                                // obj.del();
                                layer.msg("操作执行成功~"+msg["data"]+"条记录已删除~",{time:700},function () {
                                    layer.close(index);
                                    table.reload('mytable');
                                })
                            }
                        },
                        dataType:"json"

                    });
                });
            }

      //添加商品
            ,createProdcut:function () {
                layer.open({
                    title:"添加商品",
                    type: 2,
                    content: '/page/views/layer_addUser',
                    area: ['725px', '560px'],
                    maxmin: true,
                    //打开默认全屏
                    // success: function(layero, index){
                    //     layer.full(index);
                    // }
                });
            }
        }

        $('#btn_batchdel , #btn_create').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>

