<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
</head>
<body>
<h1> 欢迎回来 </h1>
<div>
    <H1>现在已开启权限模式</H1>
    <h2>role为1时，代表你登录的是商家，可以看到左侧商品管理选项，但是看不到用户管理选项</h2>
    <h2>role为2时，代表你登录的是管理员，可以看到左侧用户管理选项，但是看不到商家管理选项</h2>

    <h2>登录验证已开启，直接访问该页面或业务请求会跳转到登录页面</h2>
    <hr>
    <div>
        <h2>你目前登录的用户名是:<span th:text="${session.adminUser.userName}"></span></h2>
        <h2>你目前登录的角色是:
            <span th:if="${session.adminUser.userRole == 1}">
                商家
            </span>
            <span th:if="${session.adminUser.userRole == 2}">
                管理员
            </span>


        </h2>

    </div>


</div>
</body>
</html>