<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall </title>
</head>
<body>

<div th:replace="~{fragment/header::header}"></div>

<div class="fullwidth-template">
    <div class="slide-home-01">
        <div class="response-product product-list-owl owl-slick equal-container better-height"
             data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
            <div class="slide-wrap">
                <img src="assets/images/slide2222.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>新品上市</h5>
                            <h1>原创方椅</h1>
                            <h2>立减25%</h2>
                            <a href="#">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="assets/images/slide11new.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>热销</h5>
                            <h1><span>流行</span> 乳白</h1>
                            <h2>桌面台灯</h2>
                            <a href="#">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="assets/images/slide333.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>本周限定</h5>
                            <h1>大折扣</h1>
                            <h2>立减50%</h2>
                            <a href="#">立即购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-002">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="furgan-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-startup"></span>
                                <span class="flaticon-startup"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">快速 发货.</h4>
                                <div class="desc">网站仅支持1种语言，预计可发送到200多个国家。</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="furgan-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-padlock"></span>
                                <span class="flaticon-padlock"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">安全 支付</h4>
                                <div class="desc">使用世界上最流行、最安全的支付方式支付。</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="furgan-iconbox style-01">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-recycle"></span>
                                <span class="flaticon-recycle"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">365天 均可退货</h4>
                                <div class="desc">全天候协助式购物体验。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-003">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="furgan-banner style-01 left-center">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="assets/images/banner11.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">布谷挂钟</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="furgan-banner style-01 right-top">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="assets/images/banner12.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">象 椅</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="furgan-banner style-01 left-bottom">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="assets/images/banner13.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">实木桌</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="furgan-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">新品上市 </h3>
                    <div class="subtitle">为您的孩子精心制作，我们的产品适合任何场合。来看看吧。
                    </div>
                </div>
            </div>
            <div class="furgan-products style-02">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:2}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]"
                    th:each="product:${newProductList}">
                    <div class="product-item featured_products style-02 rows-space-30 product product-type-simple">
                        <div class="product-inner tooltip-top">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="0">
                                    <img class="img-responsive" th:src="${product.pimage}"
                                         src="assets/images/apro61-1-270x350.jpg"
                                         alt="Sweeper Funnel" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <a href="#" class="button yith-wcqv-button">快速查看</a></div>
                            <div class="product-info">
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:90%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <h3 class="product-name product_title">
                                    <a href="#" th:text="${product.productName}"
                                       th:href="@{'/single-product-simple.html?id='+${product.productId}}"
                                       tabindex="0">清扫漏斗</a>
                                </h3>
                                <span class="price">
                                    <span class="furgan-Price-amount amount">
                                        <span class="furgan-Price-currencySymbol">￥</span>
                                        <span th:text="${product.price}">79.00</span>
                                    </span>
                                </span>
                            </div>
                            <div class="group-button clearfix">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button show">
                                        <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <a class="button product_type_grouped">
                                        添加到购物车</a></div>
                                <div class="furgan product compare-button">
                                    <a href="#" class="compare button"
                                       th:href="@{'/addProductToCart?id='+${product.productId}}">比较其他商品</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="furgan-banner style-02 left-center">
            <div class="banner-inner">
                <figure class="banner-thumb">
                    <img src="assets/images/banner101.jpg"
                         class="attachment-full size-full" alt="img"></figure>
                <div class="banner-info container">
                    <div class="banner-content">
                        <div class="title-wrap">
                            <div class="banner-label">
                                现代椅子
                            </div>
                            <h6 class="title">
                                畅销商品 </h6>
                        </div>
                        <div class="button-wrap">
                            <div class="subtitle">
                                阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴阿巴
                            </div>
                            <a class="button" target="_self" href="#"><span>立即购买</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="furgan-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">为您推荐</h3>
                    <div class="subtitle">
                        为您的孩子精心制作，我们的产品适合各种场合。过来看看。
                    </div>
                </div>
            </div>
            <div class="furgan-products style-01">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <div class="product-item recent-product style-01 rows-space-0 post-93 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="0">
                                    <img class="img-responsive"
                                         src="assets/images/apro13-1-270x350.jpg"
                                         alt="Woody Table" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">添加到购物车</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="0">实木桌</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:65%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>109.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item recent-product style-01 rows-space-0 post-49 product type-product status-publish has-post-thumbnail product_cat-light product_cat-bed product_cat-sofas product_tag-furniture product_tag-lamp  instock shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="#" tabindex="0">
                                    <img class="img-responsive"
                                         src="assets/images/apro302-270x350.jpg"
                                         alt="Lynn Storage" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">添加到购物车</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="0">钥匙扣支架</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:80%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>79.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item recent-product style-01 rows-space-0 post-37 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-bed product_tag-light product_tag-hat product_tag-sock last instock shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="0">
                                    <img class="img-responsive"
                                         src="assets/images/apro31-1-270x350.jpg"
                                         alt="Knit Lamp" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">添加到购物车</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="0">针织灯</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>120.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item recent-product style-01 rows-space-0 post-35 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-new-arrivals product_cat-lamp product_tag-light product_tag-hat product_tag-sock first instock shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="0">
                                    <img class="img-responsive"
                                         src="assets/images/apro41-1-270x350.jpg"
                                         alt="Round Basket" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">添加到购物车</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="0">圆 筐</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>134.00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item recent-product style-01 rows-space-0 post-36 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_tag-light product_tag-table product_tag-sock  instock sale shipping-taxable purchasable product-type-simple">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="-1">
                                    <img class="img-responsive"
                                         src="assets/images/apro51012-1-270x350.jpg"
                                         alt="Long Sofa" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-21%</span></span>
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">添加到购物车</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="-1">长条沙发</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><del><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>125.00</span></del> <ins><span
                                        class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>99.00</span></ins></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item recent-product style-01 rows-space-0 post-34 product type-product status-publish has-post-thumbnail product_cat-light product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock last instock sale featured shipping-taxable product-type-grouped">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="#"
                                   tabindex="-1">
                                    <img class="img-responsive"
                                         src="assets/images/apro61-1-270x350.jpg"
                                         alt="Sweeper Funnel" width="270" height="350">
                                </a>
                                <div class="flash">
                                    <span class="onnew"><span class="text">新品</span></span></div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                        </div>
                                    </div>
                                    <div class="furgan product compare-button">
                                        <a href="#" class="compare button">比较其他商品</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">快速查看</a>
                                    <div class="add-to-cart">
                                        <a class="button product_type_simple add_to_cart_button">查看商品</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#" tabindex="-1">清扫漏斗</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating"><span style="width:0%">Rated <strong
                                            class="rating">0</strong> out of 5</span></div>
                                    <span class="review">(0)</span></div>
                                <span class="price"><span class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>79.00</span> – <span
                                        class="furgan-Price-amount amount"><span
                                        class="furgan-Price-currencySymbol">￥</span>139.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-038">
        <div class="furgan-banner style-07 left-center">
            <div class="banner-inner">
                <figure class="banner-thumb">
                    <img src="assets/images/banner28.jpg"
                         class="attachment-full size-full" alt="img"></figure>
                <div class="banner-info container">
                    <div class="banner-content">
                        <div class="title-wrap">
                            <div class="banner-label">
                                11月 30日 - 12月 3 日
                            </div>
                            <h6 class="title">
                                新款 椅子 </h6>
                        </div>
                        <div class="cate">
                            50% 优惠 / 选项
                        </div>
                        <div class="button-wrap">
                            <div class="subtitle">
                                歪比歪比，歪比巴卜
                            </div>
                            <a class="button" target="_self" href="#"><span>立即购买</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="furgan-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        来自我们精选博客 </h3>
                    <div class="subtitle">
                        歪比歪比，歪比巴卜
                    </div>
                </div>
            </div>
            <div class="furgan-blog style-01">
                <div class="blog-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <article
                            class="post-item post-grid rows-space-0 post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                        <div class="post-inner blog-grid">
                            <div class="post-thumb">
                                <a href="#" tabindex="0">
                                    <img src="assets/images/blogpost1-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370" height="330"> </a>
                                <a class="datebox" href="#" tabindex="0">
                                    <span>19</span>
                                    <span>十二月</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        By:<a href="#" tabindex="0">
                                        王金金金 </a>
                                    </div>
                                    <div class="post-comment-icon">
                                        <a href="#"
                                           tabindex="0">
                                            1024 </a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a
                                            href="#"
                                            tabindex="0">不是一般的家具服务。</a></h2>
                                    歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-192 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion category-furniture category-life-style tag-light tag-fashion tag-furniture">
                        <div class="post-inner blog-grid">
                            <div class="post-thumb">
                                <a href="#"
                                   tabindex="0">
                                    <img src="assets/images/blogpost5-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370" height="330"> </a>
                                <a class="datebox" href="#" tabindex="0">
                                    <span>19</span>
                                    <span>十二月</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        By:<a href="#" tabindex="0">
                                        王老板 </a>
                                    </div>
                                    <div class="post-comment-icon">
                                        <a href="#"
                                           tabindex="0">
                                            1000 </a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a
                                            href="#"
                                            tabindex="0">我们通过工作带给你最好的。</a></h2>
                                    歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-189 post type-post status-publish format-video has-post-thumbnail hentry category-table category-life-style tag-furniture tag-life-style post_format-post-format-video">
                        <div class="post-inner blog-grid">
                            <div class="post-thumb">
                                <a href="#"
                                   tabindex="0">
                                    <img src="assets/images/blogpost9-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370" height="330"> </a>
                                <a class="datebox" href="#" tabindex="0">
                                    <span>19</span>
                                    <span>十二月</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        By:<a href="#" tabindex="0">
                                        王经理 </a>
                                    </div>
                                    <div class="post-comment-icon">
                                        <a href="#"
                                           tabindex="0">
                                            0 </a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a
                                            href="#"
                                            tabindex="0">我们设计功能最好的家具。</a></h2>
                                    歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-186 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-life-style tag-life-style">
                        <div class="post-inner blog-grid">
                            <div class="post-thumb">
                                <a href="#"
                                   tabindex="-1">
                                    <img src="assets/images/blogpost4-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370" height="330"> </a>
                                <a class="datebox" href="#" tabindex="-1">
                                    <span>19</span>
                                    <span>十二月</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        By:<a href="#" tabindex="-1">
                                        王总 </a>
                                    </div>
                                    <div class="post-comment-icon">
                                        <a href="#"
                                           tabindex="-1">
                                            0 </a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a
                                            href="#"
                                            tabindex="-1">这孩子正拿着浮标游泳。</a></h2>
                                    歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜歪比歪比，歪比巴卜
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid rows-space-0 post-183 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion tag-light tag-furniture">
                        <div class="post-inner blog-grid">
                            <div class="post-thumb">
                                <a href="#" tabindex="-1">
                                    <img src="assets/images/blogpost2-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img"
                                         width="370" height="330"> </a>
                                <a class="datebox" href="#" tabindex="-1">
                                    <span>19</span>
                                    <span>十二月</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        By:<a href="#" tabindex="-1">
                                        管理员 </a>
                                    </div>
                                    <div class="post-comment-icon">
                                        <a href="#"
                                           tabindex="-1">
                                            0 </a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a
                                            href="#"
                                            tabindex="-1">藏在米色墙上的家具。</a></h2>
                                    Furniture hiding beside beige wallFurniture hiding beside beige wall
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001 section-006">
        <div class="container">
            <div class="furgan-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-1.png"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-5.png"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-4.png"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in"><img
                                    src="assets/images/brand-logo-3.png"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-2.png"
                                    class="az_single_image-img attachment-full" alt="img">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-008">
        <div class="furgan-instagram style-01">
            <div class="instagram-owl owl-slick"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:15,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;15&quot;}}]">
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="0">
                        <img class="img-responsive lazy" src="assets/images/insta1.jpg" alt="Home 01">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="flaticon-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="flaticon-heart-shape-outline"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="assets/images/insta2.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="0">
                        <img class="img-responsive lazy" src="assets/images/insta3.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="assets/images/insta4.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="assets/images/insta5.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="assets/images/insta6.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="assets/images/insta7.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="assets/images/insta8.jpg" alt="Home 01">
                        <span class="instagram-info">
                                     <span class="social-wrap">
                                        <span class="social-info">0
                                            <i class="flaticon-chat"></i>
                                        </span>
                                        <span class="social-info">0
                                            <i class="flaticon-heart-shape-outline"></i>
                                        </span>
                                    </span>
                                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>
</body>
</html>