<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 购物车</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">购物车</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>首页</span></a></li>
                <li class="trail-item trail-end active"><span>购物车</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="furgan">
                        <div class="furgan-notices-wrapper"></div>
                        <form class="furgan-cart-form">
                            <table class="shop_table shop_table_responsive cart furgan-cart-form__contents"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail" style="margin-left: -20px;">商品样式</th>
                                    <th class="product-name">商品名</th>
                                    <th class="product-price">单价</th>
                                    <th class="product-quantity">数量</th>
                                    <th class="product-subtotal">金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--购物车在此处通过thymeleaf循环输出-->
                                <tr class="furgan-cart-form__cart-item cart_item" th:if="${#lists.isEmpty(cardProductsList)}">
                                    <!-- 如果接受的cardProductsList集合为空，则显示一下内容 -->
                                    <!-- 即考虑购物车为空的情况 -->
                                    <td class="product-remove">
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="#">购物车内暂无商品</a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a style="color: #868696">————</a>
                                    </td>
                                    <td class="product-price" data-title="Price">
                                        <a style="color: #868696"><b>————</b></a>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <a style="color: #868696"><b>————</b></a>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <a style="color: #868696">————</a>
                                    </td>
                                </tr>
                                <tr class="furgan-cart-form__cart-item cart_item" th:each="pro:${cardProductsList}">
                                    <td class="product-remove">
                                        <a th:href="@{'/deleteFromCart?id='+${pro.productId}}"
                                           class="remove" aria-label="Remove this item" data-product_id="20"
                                           data-product_sku="775E109">×</a></td>
                                    <td class="product-thumbnail">
                                        <a href="javascript:;" class="pname"><img
                                                th:src="${pro.pimage}"
                                                class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                alt="img"></a></td>
                                    <td class="product-name" data-title="Product">
                                        <a th:href="@{'/single-product-simple.html?id='+${pro.productId}}" th:text="${pro.productName}">商品名</a></td>
                                    <td class="product-price" data-title="Price">
                                        <span class="furgan-Price-currencySymbol">￥</span>
                                        <span class="furgan-Price-amount price1" th:text="${pro.price}">单价</span>
                                    </td>
                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <span class="qty-label">数量:</span>
                                            <div class="control">
                                                <a class="btn-number qtyminus quantity-minus" href="javascript:;">-</a>
                                                <input type="text" data-step="1" min="1" max="" name="quantity[25]" value="1" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                <a class="btn-number qtyplus quantity-plus" href="javascript:;">+</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Total">
                                        <span class="furgan-Price-currencySymbol">￥</span>

                                        <span class="furgan-Price-amount amount1" th:text="${pro.price}">总价</span></td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="actions">
                                        <div class="coupon">
                                            <label for="coupon_code">优惠券:</label> <input type="text"
                                                                                            name="coupon_code"
                                                                                            class="input-text"
                                                                                            id="coupon_code" value=""
                                                                                            placeholder="优惠券码">
                                            <button type="submit" class="button" name="apply_coupon"
                                                    value="使用优惠券">使用优惠券
                                            </button>
                                        </div>
                                        <button type="submit" class="button" name="update_cart" value="Update cart"
                                                disabled="">更新购物车
                                        </button>
                                        <input type="hidden" id="furgan-cart-nonce" name="furgan-cart-nonce"
                                               value="f41b5bf554"><input type="hidden" name="_wp_http_referer"
                                                                         value="/furgan/cart/"></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>购物车总价</h2>
                                <table class="shop_table shop_table_responsive" cellspacing="0">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>小计</th>
                                        <td data-title="Subtotal">
                                            <span class="furgan-Price-currencySymbol">￥</span>
                                            <span class="furgan-Price-amount amount2" th:text="${amount}">0.00</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>总计</th>
                                        <td data-title="Total"><strong>
                                            <span class="furgan-Price-currencySymbol">￥</span>
                                            <span class="furgan-Price-amount amount3" th:text="${amount}">0.00</span></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="furgan-proceed-to-checkout">
                                    <a th:href="@{/checkout.html}"
                                       class="checkout-button button alt furgan-forward">
                                        去结算</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 dreaming_crosssell-product">
                            <div class="block-title">
                                <h2 class="product-grid-title">
                                    <span>促销商品</span>
                                </h2>
                            </div>
                            <div class="owl-slick owl-products equal-container better-height"
                                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4}"
                                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                                <div class="product-item style-01 post-278 page type-page status-publish hentry">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                               href="#"
                                               tabindex="0">
                                                <img class="img-responsive"
                                                     src="assets/images/apro51012-1-600x778.jpg"
                                                     alt="Long Sofa" width="600" height="778">
                                            </a>
                                            <div class="flash">
                                                <span class="onsale"><span class="number">-21%</span></span>
                                                <span class="onnew"><span class="text">新品</span></span></div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="#" class="add_to_wishlist">
                                                            添加到收藏夹</a>
                                                    </div>
                                                </div>
                                                <div class="furgan product compare-button"><a href="#"
                                                                                              class="compare button">比较</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">速览</a>
                                                <div class="add-to-cart">
                                                    <a href="#"
                                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart">添加
                                                        到购物车
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="#"
                                                   tabindex="0">Long Sofa</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating"><span style="width:0%">Rated <strong
                                                        class="rating">0</strong> out of 5</span></div>
                                                <span class="review">(0)</span></div>
                                            <span class="price"><del><span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>125.00</span></del> <ins><span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>99.00</span></ins></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item style-01 post-36 product type-product status-publish has-post-thumbnail product_cat-table product_cat-bed product_tag-light product_tag-table product_tag-sock first instock sale shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                               href="#"
                                               tabindex="0">
                                                <img class="img-responsive"
                                                     src="assets/images/apro71-1-600x778.jpg"
                                                     alt="Moss Sofa" width="600" height="778">
                                            </a>
                                            <div class="flash">
                                                <span class="onsale"><span class="number">-18%</span></span>
                                                <span class="onnew"><span class="text">新品</span></span></div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="#" class="add_to_wishlist">
                                                            Add to Wishlist</a>
                                                    </div>
                                                </div>
                                                <div class="furgan product compare-button"><a href="#"
                                                                                              class="compare button">Compare</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                <div class="add-to-cart">
                                                    <a href="#"
                                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add
                                                        to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="#"
                                                   tabindex="0">Moss Sofa</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating"><span style="width:0%">Rated <strong
                                                        class="rating">0</strong> out of 5</span></div>
                                                <span class="review">(0)</span></div>
                                            <span class="price"><del><span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>109.00</span></del> <ins><span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>89.00</span></ins></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item style-01 post-32 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-hat product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                               href="#"
                                               tabindex="0">
                                                <img class="img-responsive"
                                                     src="assets/images/apro91-1-600x778.jpg"
                                                     alt="DAX Armchair" width="600" height="778">
                                            </a>
                                            <div class="flash">
                                                <span class="onnew"><span class="text">新品</span></span></div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="#" class="add_to_wishlist">
                                                            Add to Wishlist</a>
                                                    </div>
                                                </div>
                                                <div class="furgan product compare-button"><a href="#"
                                                                                              class="compare button">Compare</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                <div class="add-to-cart">
                                                    <a href="#"
                                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add
                                                        to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="#"
                                                   tabindex="0">DAX Armchair</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating"><span style="width:0%">Rated <strong
                                                        class="rating">0</strong> out of 5</span></div>
                                                <span class="review">(0)</span></div>
                                            <span class="price"><span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>89.00</span> – <span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">￥</span>139.00</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>
<div th:replace="~{fragment/static::script}"></div>
<script type="text/javascript">
    /*$(function () {
        //加号
        var price1=parseFloat($('#productPrice').text());
        var num = parseInt($('input[name="quantity[25]"]').attr('value'));
        $('.btn-number.qtyplus').click(function () {
            num++;
            $('input[name="quantity[25]"]').attr('value',num);
            var amount1 = num * price1;
            $('#productsAmount').html(amount1.toFixed(2));
        });
        //减号
        $('.btn-number.qtyminus').click(function () {
            if (num>1){
                num--;
                $('input[name="quantity[25]"]').attr('value',num);
                console.log(num);
                var amount2=num*price1;
                $('#productsAmount').html(amount2.toFixed(2));
            }
        });
    });*/
    window.onload = function()
    {
        var aLi = document.getElementsByClassName("pname");
        var plus =document.getElementsByClassName("btn-number qtyplus quantity-plus");  //加号
        var minus=document.getElementsByClassName("btn-number qtyminus quantity-minus");  //减号
        var inputQty=document.getElementsByClassName("input-qty input-text qty text");  //数量
        var price=document.getElementsByClassName("furgan-Price-amount price1"); //单价
        var amount1=document.getElementsByClassName("furgan-Price-amount amount1"); //总价
        var amount2=document.getElementsByClassName("furgan-Price-amount amount2");  //小计
        var amount3=document.getElementsByClassName("furgan-Price-amount amount3");  //总计
        var amount = 0.00;
        for(var i = 0; i < aLi.length; i++)
        {
            var a = function(k)
            {
                aLi[k].onclick = function()//用于测试 各标签数据获取
                {
                    alert("单价："+price[k].textContent);
                    alert("单价标签类名："+price[k].className);
                    alert("加号类名："+plus[k].className);
                    alert("减号类名："+minus[k].className);
                    alert("input的name："+inputQty[k].name);
                    // var price1=parseFloat($('#productPrice').text());
                    // var num = parseInt($('input[name="quantity[25]"]').attr('value'));
                    var price1=parseFloat($(price[k]).text());
                    var num = parseInt($(inputQty[k]).val());
                    //alert("num："+num+","+"price1："+price1)
                    //alert(parseInt($(inputQty[k]).attr('value')));
                }
                var Aprice=parseFloat($(amount1[k]).text());
                //alert(Aprice);
                amount=amount+Aprice;
                $(amount2).html(amount.toFixed(2));
                $(amount3).html(amount.toFixed(2));
                //加号
                $(plus[k]).click(function () {
                    var price1=parseFloat($(price[k]).text());
                    var num = parseInt($(inputQty[k]).val());
                    //alert("一："+num);
                    num++;
                    //alert("二："+num);
                    $(inputQty[k]).attr('value',num);
                    console.log(num);
                    var amountPlus = num * price1;
                    amount=amount+price1;
                    $(amount1[k]).html(amountPlus.toFixed(2));
                    $(amount2).html(amount.toFixed(2));
                    $(amount3).html(amount.toFixed(2));
                });
                //减号
                $(minus[k]).click(function () {
                    var price1=parseFloat($(price[k]).text());
                    var num = parseInt($(inputQty[k]).val());
                    if (num>1){
                        num--;
                        $(inputQty[k]).attr('value',num);
                        console.log(num);
                        var amountMinus=num*price1;
                        amount=amount-price1;
                        $(amount1[k]).html(amountMinus.toFixed(2));
                        $(amount2).html(amount.toFixed(2));
                        $(amount3).html(amount.toFixed(2));
                    }
                });

            }
            a(i);
        }
    }
</script>
</body>
</html>