<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>优惠明细</title>
</head>
<body style="line-height: 16px;">
<br>
<div class="div_coupon_demo">
    <!-- 优惠券 begin -->
    <div class="stamp stamp03" th:if="${#lists.isEmpty(couponsList)}">
        <i></i>
        <div class="par">
            <p>XXXXXX折扣店</p>
            <sub class="sign">￥</sub><span class="span_coupon_amount">优惠金额</span>
            <sub>优惠券名</sub>
            <p>订单满&nbsp;<span>XX</span>元使用</p>
            <span class="span_coupon_time">有效期&nbsp;
                <span class="span_coupon_time">起始日期</span>-
                <span class="span_coupon_time">截止日期</span>
            </span>
        </div>
        <div class="copy">
            <span style="font-weight: 600">副&nbsp;券</span><br>
            <span class="span_coupon_copy">券号:<span>x</span></span>&nbsp;
            <span class="span_coupon_copy">券类:<span>y</span></span>
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立即使用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
    <!-- 优惠券 end -->
    <!-- 优惠券 begin -->
    <div class="stamp stamp03" th:each="coupon:${couponsList}">
        <i></i>
        <div class="par">
            <p th:text="${coupon.userName}">XXXXXX折扣店</p>
            <sub class="sign">￥</sub><span class="span_coupon_amount" th:text="${coupon.couponAmount}">优惠金额</span>
            <sub th:text="${coupon.couponName}" style="top: -1px;">优惠券名</sub>
            <p>订单满&nbsp;<span th:text="${coupon.minAmount}"></span>元使用</p>
            <span class="span_coupon_time">有效期&nbsp;
                <span class="span_coupon_time" th:text="${#dates.format(coupon.createTime,'yyyy-MM-dd')}">起始日期</span>-
                <span class="span_coupon_time" th:text="${#dates.format(coupon.expireTime,'yyyy-MM-dd')}">截止日期</span>
            </span>
        </div>
        <div class="copy">
            <span style="font-weight: 600">副&nbsp;券</span><br>
            <span class="span_coupon_copy">券号:<span th:text="${coupon.couponId}"></span></span>&nbsp;
            <span class="span_coupon_copy">券类:<span th:text="${coupon.categoryId}"></span></span>
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立即使用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
    <!-- 优惠券 end -->
</div>
<div th:replace="~{fragment/static::script}"></div>

</body>
</html>