<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 订单</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">用户订单</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>首页</span></a></li>
                <li class="trail-item trail-end active"><span>用户订单</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <form id="yith-wcwl-form" class="furgan">
                        <!-- TITLE -->
                        <!-- WISHLIST TABLE -->
                        <table class="shop_table cart wishlist_table" data-pagination="no" data-per-page="5"
                               data-page="1" data-id="" data-token="">
                            <thead>
                            <tr>
                                <th class="product-remove"></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">
                                    <span class="nobr">Product Name</span>
                                </th>
                                <th class="product-price">
                    <span class="nobr">
                        Unit Price                    </span>
                                </th>
                                <th class="product-stock-status">
                    <span class="nobr">
                        Stock Status                    </span>
                                </th>
                                <th class="product-add-to-cart"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="yith-wcwl-row-26" data-row-id="26" style="background-color: #F0F0F0;">
                                <td class="product-thumbnail">
                                    <a href="#">已下单宝贝</a></td>
                                <td class="product-name">
                                    </td>
                                <td class="product-price">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol"></span>单价</span></td>
                                <td class="product-number">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol"></span>数量</span></td>
                                <td class="product-pay">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol"></span>实付款</span></td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">交易状态</span></td>
                                <td class="product-detail">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol"></span>订单详情</span></td>
                                <td class="product-add-to-cart">
                                    <span class="furgan-Price-amount amount" style="color: #0b0b0b"><span
                                            class="furgan-Price-currencySymbol"></span>操作</span></td>
                                </td>
                            </tr>
                            <tr id="yith-wcwl-row-28" data-row-id="28" th:if="${#lists.isEmpty(orderList)}">
                                <td class="product-thumbnail">
                                    <a>无订单记录</a>
                                </td>
                                <td class="product-name">
                                    </td>
                                <td class="product-price">
                                    <a style="color: #868696">————</a></td>
                                <td class="product-number">
                                    <a style="color: #868696">————</a></td>
                                <td class="product-pay">
                                    <a style="color: #868696">—————</a></td>
                                <td class="product-stock-status">
                                    <a style="color: #868696">——————</a>
                                </td>
                                <td class="product-detail">
                                    <a style="color: #868696">———————</a>
                                </td>
                                <td class="product-add-to-cart">
                                    <span class="furgan-Price-amount amount" style="color: #868696"><span
                                            class="furgan-Price-currencySymbol"></span>——————</span>
                                </td>
                            </tr>
                            <tr id="yith-wcwl-row-29" data-row-id="29" th:each="order:${orderList}" >
                                <td class="product-thumbnail">
                                    <a href="#" th:href="@{'/single-product-simple.html?id='+${order.product.productId}}">
                                        <img th:src="${order.product.pimage}"
                                             class="attachment-furgan_thumbnail size-furgan_thumbnail" alt="img"
                                             width="600" height="778"> </a>
                                </td>
                                <td class="product-name">
                                    <a th:href="@{'/single-product-simple.html?id='+${order.product.productId}}" th:text="${order.product.productName}">商品名</a>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="29">Quick View</a></td>
                                <td class="product-price">
                                    <span class="furgan-Price-currencySymbol">¥</span>
                                    <span class="furgan-Price-amount amount" th:text="${order.product.price}">单价</span></td>
                                <td class="product-number">
                                    <span class="furgan-Price-currencySymbol">×</span>
                                    <span class="furgan-Price-amount amount" th:text="${order.orderNumber}">数量</span></td>
                                <td class="product-pay">
                                    <span class="furgan-Price-currencySymbol">¥</span>
                                    <span class="furgan-Price-amount amount" th:text="${order.payMoney}">实付款</span></td>
                                <td class="product-stock-status">
                                    <span class='wishlist-in-stock' th:text="${order.status}">交易状态</span>
                                    </td>
                                <td class="product-detail">
                                    <input th:id="detail" th:value="${order.orderId}" style="display: none;">
                                    <a href="javascript:;" onclick="openDetail()">查看详情</a>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="29">Quick View</a>
                                </td>
                                <td class="product-add-to-cart" th:if="${order.status ne '交易成功'}">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a th:href="@{/orderOperation(orderId=${order.orderId},status=${order.status})}"
                                       data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="29" data-product_sku="003D754"
                                       aria-label="Add “Alarm Clock” to your cart" rel="nofollow">确认收货</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                                <td class="product-add-to-cart" th:if="${order.status eq '交易成功'}">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a th:href="@{'/orderOperation?id='+${order.orderId}}"
                                       data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="29" data-product_sku="003D754"
                                       aria-label="Add “Alarm Clock” to your cart" rel="nofollow">追加评价</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>
<script type="text/javascript" th:inline="javascript">
    function openDetail(title,width,height,content){
        var id= $("#detail").val().trim();
        layer.open({
            type: 2,
            title:'订单详情',
            skin: 'layui-layer-demo', //样式类名  
            shadeClose:true,
            closeBtn: 1, //不显示关闭按钮  
            anim: 2,
            area: ['500px','400px'],
            shadeClose: true, //开启遮罩关闭  
            content: 'order-detail.html?orderId='+id
        }); 

        // layer.msg('hello: '+id);
    }

</script>
</body>
</html>