<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Title</title>
</head>
<body>
<table class="shop_table cart wishlist_table" data-pagination="no" data-per-page="5"
       data-page="1" data-id="" data-token="">
    <tr id="yith-wcwl-row-29" data-row-id="29" style="padding-right: 20px;">
        <td class="product-stock-status">
            <h4 th:align="left">状&nbsp;态：&nbsp;<span th:text="${order.status}"></span></h4>
            <p th:align="left">
                <span>收货人：
                    <span class='wishlist-in-stock' th:text="${order.receiver}">收货人</span>
                    &nbsp;&nbsp;
                    <span class='wishlist-in-stock' th:text="${order.receiverPhone}"></span>
                </span><br>
                <span>地&nbsp;&nbsp;&nbsp;址：&nbsp;<span class='wishlist-in-stock' th:text="${order.address}"></span></span>
            </p>
        </td>
        <td >
            <h4 th:align="left">订单信息 »»»
                <span th:text="${order.product.seller}"></span>
            </h4>
            <p th:align="left">
                <span class='wishlist-in-stock'>
                    订单商品：&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${order.product.productName}"></span>
                </span><br>
                <span class='wishlist-in-stock'>
                    单价数量：&nbsp;&nbsp;&nbsp;&nbsp;
                    ¥&nbsp;<span th:text="${order.product.price}"></span>&nbsp;
                    ×<span th:text="${order.orderNumber}"></span>
                </span><br>
                <span class='wishlist-in-stock'>
                    商品总价：&nbsp;&nbsp;&nbsp;&nbsp;
                    ¥&nbsp;<span th:text="${amount}"></span>
                </span><br>
                <span class='wishlist-in-stock'>
                    实&nbsp;付&nbsp;款：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ¥&nbsp;<span th:text="${order.payMoney}"></span>
                </span><br>
                <span class='wishlist-in-stock'>订单编号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${order.orderId}"></span></span><br>
                <span class='wishlist-in-stock'>创建时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${createTime}"></span></span><br>
                <span class='wishlist-in-stock'>付款时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${createTime}"></span></span><br>
                <span class='wishlist-in-stock'>发货时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${outTime}"></span></span><br>
                <span class='wishlist-in-stock'>成交时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${outTime}"></span></span><br>
            </p>
        </td>
    </tr>
</table>

<div th:replace="~{fragment/static::script}"></div>
</body>
</html>