<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 商品表</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">商品</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>主页</span></a></li>
                <li class="trail-item trail-end active"><span>商品</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="product.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode " value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="product-list.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode active" value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="furgan-ordering" method="get">
                        <select title="product_cat" name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">默认排序</option>
                            <option value="popularity">按人气排序</option>
                            <option value="rating">按评分排序</option>
                            <option value="date">按上架时间排序</option>
                            <option value="price">从低到高价格排序</option>
                            <option value="price-desc">从高到低价格排序</option>
                        </select>
                    </form>
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage">
                                <option value="12" selected="">
                                    1页 显示 12 件商品
                                </option>
                                <option value="5">
                                    1页 显示 05 件商品
                                </option>
                                <option value="10">
                                    1页 显示 10 件商品
                                </option>
                                <option value="12">
                                    1页 显示 12 件商品
                                </option>
                                <option value="15">
                                    1页 显示 15 件商品
                                </option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class=" auto-clear equal-container better-height furgan-products">
                    <ul class="row products columns-3">
                        <li class="product-item wow fadeInUp product-item list col-md-12 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp" th:each="product:${productList}">
                            <div class="product-inner images">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#" th:href="@{'/single-product-simple.html?id='+${product.productId}}">
                                        <img class="img-responsive"
                                             src="assets/images/apro161-1-600x778.jpg"
                                             alt="Moss Sofa" width="600" height="778" th:src="${product.pimage}">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">新品</span></span></div>
                                    <form class="variations_form cart" method="post" enctype="multipart/form-data">
                                        <table class="variations">
                                            <tbody>
                                            <tr>
                                                <td class="value">
                                                    <select title="box_style" data-attributetype="box_style"
                                                            data-id="pa_color"
                                                            class="attribute-select " name="attribute_pa_color"
                                                            data-attribute_name="attribute_pa_color"
                                                            data-show_option_none="yes">
                                                        <option data-type="" data-pa_color="" value="">Choose an
                                                            option
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#3155e2" value="blue"
                                                                class="attached enabled">蓝色
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#49aa51" value="green"
                                                                class="attached enabled">绿色
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#ff63cb" value="pink"
                                                                class="attached enabled">粉色
                                                        </option>
                                                    </select>
                                                    <div class="data-val attribute-pa_color"
                                                         data-attributetype="box_style"><a class="change-value color"
                                                                                           href="#"
                                                                                           style="background: #3155e2;"
                                                                                           data-value="blue"></a><a
                                                            class="change-value color" href="#"
                                                            style="background: #49aa51;" data-value="green"></a><a
                                                            class="change-value color" href="#"
                                                            style="background: #ff63cb;" data-value="pink"></a></div>
                                                    <a class="reset_variations" href="#" style="visibility: hidden;">清除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="24">快速查看</a>
                                </div>
                                <div class="product-info">
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating"><span style="width:0%">Rated <strong
                                                class="rating">0</strong> out of 5</span></div>
                                        <span class="review">(0)</span></div>
                                    <h3 class="product-name product_title">
                                        <a href="#" th:text="${product.productName}" th:href="@{'/single-product-simple.html?id='+${product.productId}}">Moss Sofa</a>
                                    </h3>
                                    <span class="price">
                                        <span class="furgan-Price-amount amount">
                                            <span class="furgan-Price-currencySymbol">￥</span>
                                            <span th:text="${product.price}"></span>
                                        </span>
                                    </span>
                                    <div class="furgan-product-details__short-description">
                                        <p th:text="${product.context}">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante.</p>
                                        <ul>
                                            <li th:text="${product.context}">Water-resistant fabric with soft lycra detailing inside</li>
                                            <li>CLean zip-front, and three piece hood</li>
                                            <li>Subtle branding and diagonal panel detail</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="group-button">
                                    <div class="group-button-inner">
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">选择颜色</a>
                                        </div>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">添加到愿望清单</a>
                                            </div>
                                        </div>
                                        <div class="furgan product compare-button">
                                            <a href="#" class="compare button">比较其他商品</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                       </ul>
                </div>
                <div class="shop-control shop-after-control" th:switch="${cid==null}">
                    <nav class="furgan-pagination" th:case="true">
                        <span  th:each="pageNo:${#numbers.sequence(1,pageInfo.getPages())}">
                            <a class="page-numbers current" href="#"  th:text="${pageNo}"
                               th:href="@{'/product-list.html?pageNo='+${pageNo}+'&pageSize='+${pageInfo.getPageSize()}}">
                            </a>
                        </span>

                        <a class="next page-numbers" href="#"
                           th:href="@{'/product-list.html?pageNo='+${pageInfo.getNextPage()}+'&pageSize='+${pageInfo.getPageSize()}}">
                            下一页
                        </a>
                    </nav>

                    <nav class="furgan-pagination" th:case="false">
                        <span th:each="pageNo:${#numbers.sequence(1,pageInfo.getPages())}">
                            <a class="page-numbers current" href="#"  th:text="${pageNo}"
                               th:href="@{'/product-list.html?pageNo='+${pageNo}+'&pageSize='+${pageInfo.getPageSize()}+'&cid='+${cid}}">
                            </a>
                        </span>

                        <a class="next page-numbers" href="#"
                           th:href="@{'/product-list.html?pageNo='+${pageInfo.getNextPage()}+'&pageSize='+${pageInfo.getPageSize()}+'&cid='+${cid}}">
                            下一页
                        </a>
                    </nav>
                    <p class="furgan-result-count">
                        显示
                        <span th:text="${pageInfo.getStartRow()}">1</span>–
                        <span th:text="${pageInfo.getEndRow()}">12</span>
                        件商品 共
                        <span th:text="${pageInfo.getTotal()}">20</span>
                        件商品
                    </p>
                </div>
            </div>
            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <div id="furgan_product_search-2" class="widget furgan widget_product_search">
                        <form class="furgan-product-search">
                            <input id="furgan-product-search-field-0" class="search-field"
                                   placeholder="输入你想搜索的商品..." value="" name="s" type="search">
                            <button type="submit" value="Search">搜索</button>
                        </form>
                    </div>
                    <div id="furgan_price_filter-2" class="widget furgan widget_price_filter"><h2
                            class="widgettitle">按价格筛选<span class="arrow"></span></h2>
                        <form method="post" action="#">
                            <div class="price_slider_wrapper">
                                <div data-label-reasult="Range:" data-min="0" data-max="99999" data-unit="￥"
                                     class="price_slider" data-value-min="0" data-value-max="99999">
                                </div>
                                <div class="price_slider_amount">
                                    <button id="buttonFilter" type="submit" class="button">筛选</button>
                                    <div class="price_label">
                                        价格:
                                        <!--<span class="from" th:case="true" th:text="${min}">￥0</span> — <span class="to" th:text="${max}">￥9999</span>-->
                                        <span class="from">￥0</span> — <span class="to">￥9999</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--<div id="furgan_furgan_layered_nav-4"
                         class="widget furgan_widget_layered_nav widget_layered_nav">
                        <h2 class="widgettitle">按颜色筛选<span class="arrow"></span></h2>
                        <div class="color-group">
                            <a class="term-color " href="#">
                                <i style="color: #000000"></i>
                                <span class="term-name">黑色</span>
                                <span class="count">(4)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #3155e2"></i>
                                <span class="term-name">蓝色</span>
                                <span class="count">(3)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #49aa51"></i>
                                <span class="term-name">绿色</span>
                                <span class="count">(1)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #ff63cb"></i>
                                <span class="term-name">粉色</span>
                                <span class="count">(3)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #a825ea"></i>
                                <span class="term-name">紫色</span>
                                <span class="count">(1)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #db2b00"></i>
                                <span class="term-name">红色</span>
                                <span class="count">(5)</span> </a>
                            <a class="term-color " href="#">
                                <i style="color: #FFFFFF"></i>
                                <span class="term-name">白色</span>
                                <span class="count">(2)</span> </a>
                            <a class="term-color " href="#s">
                                <i style="color: #e8e120"></i>
                                <span class="term-name">黄色</span>
                                <span class="count">(2)</span> </a>
                        </div>
                    </div>-->
                    <!--<div id="furgan_layered_nav-6"
                         class="widget furgan widget_layered_nav furgan-widget-layered-nav"><h2
                            class="widgettitle">按尺码筛选<span class="arrow"></span></h2>
                        <ul class="furgan-widget-layered-nav-list">
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">XS</a>
                                <span class="count">(1)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">S</a>
                                <span class="count">(4)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">M</a>
                                <span class="count">(2)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">L</a>
                                <span class="count">(3)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">XL</a>
                                <span class="count">(1)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">XXL</a>
                                <span class="count">(4)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">3XL</a>
                                <span class="count">(4)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">4XL</a>
                                <span class="count">(3)</span></li>
                        </ul>
                    </div>-->
                    <div id="furgan_product_categories-3" class="widget furgan widget_product_categories"><h2
                            class="widgettitle">商品分类<span class="arrow"></span></h2>
                        <ul class="product-categories" th:each="category:${categoryList}">
                            <li class="cat-item cat-item-22">
                                <div th:swith="${category.categoryId==null}">
                                    <a href="#" th:href="@{'/product-list.html?pageNo=1&pageSize=5&cid='+${category.categoryId}}"
                                       th:text="${category.categoryName}">Light</a>
                                </div>

                            </li>
                            <!--<li class="cat-item cat-item-16"><a href="#">Chair</a>
                                <span class="count">(9)</span></li>
                            <li class="cat-item cat-item-24"><a href="#">Table</a>
                                <span class="count">(6)</span></li>
                            <li class="cat-item cat-item-27"><a href="#">Bed</a> <span
                                    class="count">(6)</span></li>
                            <li class="cat-item cat-item-17"><a href="#">Lamp</a>
                                <span class="count">(6)</span></li>
                            <li class="cat-item cat-item-26"><a href="#">Specials</a> <span
                                    class="count">(4)</span></li>
                            <li class="cat-item cat-item-18"><a href="#">Sofas</a> <span
                                    class="count">(6)</span></li>-->
                        </ul>
                    </div>
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>

<script>
    $(function () {
        $("#buttonFilter").click(function () {
            var min=$(".from").val().trim();
            var max=$(".to").val().trim();
            // 可以拿到值
            alert(min+max);
            $.ajax({
                type:"POST",
                url:"product-list",
                dataType:"json",
                data:{"min":min,"max":max},
                success:function (data) {
                    if (data["success"]){
                        //返回值是learn/t1 相对于项目地址
                        //返回值是/learn/t1 相对于根地址 http://localhost:8080/learn/t1

                    }
                    else{

                    }
                }
            })
        })
    })
</script>
</body>
</html>