<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 商品</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">商品</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>首页</span></a></li>
                <li class="trail-item trail-end active"><span>商品</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="product.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active" value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="product-list.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode " value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="furgan-ordering" method="get">
                        <select title="product_cat" name="orderby" class="orderby" th:switch="${condition}">
                            <p th:case="0">
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&product_cat='+${cid}+'&s='+${s}" th:selected="selected">默认排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&product_cat='+${cid}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&product_cat='+${cid}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&product_cat='+${cid}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&product_cat='+${cid}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="1">
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&product_cat='+${cid}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&product_cat='+${cid}+'&s='+${s}" th:selected="selected">按评分排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&product_cat='+${cid}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&product_cat='+${cid}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&product_cat='+${cid}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="2">
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&product_cat='+${cid}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&product_cat='+${cid}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&product_cat='+${cid}+'&s='+${s}" th:selected="selected">按上架时间排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&product_cat='+${cid}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&product_cat='+${cid}+'&s'+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="3">
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&product_cat='+${cid}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&product_cat='+${cid}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&product_cat='+${cid}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&product_cat='+${cid}+'&s='+${s}" th:selected="selected">从低到高价格排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&product_cat='+${cid}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="4">
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&product_cat='+${cid}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&product_cat='+${cid}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&product_cat='+${cid}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&product_cat='+${cid}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&product_cat='+${cid}+'&s='+${s}" th:selected="selected">从高到低价格排序</option>
                            </p>
                        </select>
                    </form>
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage" th:switch="${pageInfo.getPageSize()}">
                                <p th:case="5">
                                    <option th:value="'/product.html?pageSize=5&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}" th:selected="selected">1页 显示 5 件商品</option>
                                    <option th:value="'/product.html?pageSize=10&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product.html?pageSize=12&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product.html?pageSize=15&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="10">
                                    <option th:value="'/product.html?pageSize=5&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product.html?pageSize=10&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}" th:selected="selected">1页 显示 10 件商品</option>
                                    <option th:value="'/product.html?pageSize=12&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product.html?pageSize=15&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="12">
                                    <option th:value="'/product.html?pageSize=5&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product.html?pageSize=10&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product.html?pageSize=12&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}" th:selected="selected">1页 显示 12 件商品</option>
                                    <option th:value="'/product.html?pageSize=15&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="15">
                                    <option th:value="'/product.html?pageSize=5&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product.html?pageSize=10&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product.html?pageSize=12&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product.html?pageSize=15&condition='+${condition}+'&product_cat='+${cid}+'&s='+${s}" th:selected="selected">1页 显示 15 件商品</option>
                                </p>

                            </select>
                        </label>
                    </form>
                </div>
                <div class="auto-clear equal-container better-height furgan-products">
                    <ul class="row products columns-3">
                        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp" th:each="product : ${productList}">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="/single-product-simple.html?id={product.productId}" th:href="@{'/single-product-simple.html?id='+${product.productId}}"><!--th:onclick="'javascript:click('+${product.productId}+')'"-->
                                        <img class="img-responsive"
                                             src="assets/images/apro161-1-600x778.jpg"
                                             alt="Moss Sofa" width="600" height="778" th:src="${product.pimage}">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew">
                                            <span class="text">新品</span>
                                        </span>
                                    </div>
                                    <div class="group-button">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">
                                                    添加到愿望清单</a>
                                            </div>
                                        </div>
                                        <div class="furgan product compare-button">
                                            <a href="#" class="compare button">比较其他商品</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">快速查看</a>
                                        <div class="add-to-cart">
                                            <a class="button product_type_simple add_to_cart_button" th:href="@{'/addProductToCart?id='+${product.productId}}">加入到购物车在这！！</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#" th:text="${product.productName}" th:href="@{'/single-product-simple.html?id='+${product.productId}}">Moss Sofa</a>
                                    </h3>
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating">
                                            <span style="width:0%">Rated <strong class="rating">4</strong> out of 5</span>
                                        </div>
                                        <span class="review">(1)</span></div>
                                    <span class="price">
                                        <span class="furgan-Price-amount amount" >
                                            <span class="furgan-Price-currencySymbol">￥</span>
                                            <span th:text="${product.price}"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="furgan-pagination">
                        <!--<span class="page-numbers current">1</span>-->
                        <!--<a class="next page-numbers" href="#"
                           th:href="@{'/product.html?page='+${pageInfo.getPretPage()}+'&pageSize'+${pageInfo.getPageSize()}}">
                            上一页
                        </a>-->
                        <span th:each="pageNo:${#numbers.sequence(1,pageInfo.getPages())}">
                            <a class="page-numbers current" href="#"
                               th:href="@{'/product.html?pageNo='+${pageNo}+'&pageSize='+${pageInfo.getPageSize()}+'&condition='+${condition}}"
                               th:text="${pageNo}">
                            </a>
                        </span>

                        <a class="next page-numbers" href="#"
                           th:href="@{'/product.html?page='+${pageInfo.getNextPage()}+'&pageSize='+${pageInfo.getPageSize()}+'&condition='+${condition}}">
                            下一页
                        </a>
                    </nav>
                    <p class="furgan-result-count">
                        显示
                        <span th:text="${pageInfo.getStartRow()}">1</span>–
                        <span th:text="${pageInfo.getEndRow()}">12</span>
                        件商品 共
                        <span th:text="${pageInfo.getTotal()}">20</span>
                        件商品
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>

<script>
    $(function () {
        /*$(".option-perpage").on("change",function () {
            var pageSize = $(this).find("option:selected").attr("data");
            alert(pageSize);
            $.ajax({
                type: "post",
                dataType: "json",
                data:{"pageSize":pageSize},
                url: "productListByPageSize", // 提交到一般处理程序请求数据
                success:function (data){
                    if (data["success"]){
                        window.location.href=data["msg"];
                        alert("成功");
                    }
                    else {
                        alert("失败");
                    }

                }
            })
        })*/

        //条件筛选
        $(".orderby").on("change",function () {
            var url = $(this).find("option:selected").attr("value");
            window.open(url,'_self');
        })

        //页面显示商品数
        $(".option-perpage").on("change",function () {
            var url = $(this).find("option:selected").attr("value");
            window.open(url,'_self');
        })
    })
</script>
</body>
</html>
