<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 商品表</title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">商品</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>主页</span></a></li>
                <li class="trail-item trail-end active"><span>商品</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container shop-page right-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="product.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode " value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="product-list.html" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode active" value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="furgan-ordering" method="get">
                        <select title="product_cat" name="orderby" class="orderby" th:switch="${condition}">
                            <p th:case="0">
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">默认排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="1">
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">按评分排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="2">
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">按上架时间排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="3">
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">从低到高价格排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从高到低价格排序</option>
                            </p>
                            <p th:case="4">
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=0&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">默认排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=1&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按评分排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=2&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">按上架时间排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=3&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">从低到高价格排序</option>
                                <option th:value="'/product-list.html?pageSize='+${pageInfo.getPageSize()}+'&condition=4&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">从高到低价格排序</option>
                            </p>
                        </select>
                    </form>
                    <form class="per-page-form">
                        <label>
                            <select class="option-perpage" th:switch="${pageInfo.getPageSize()}">
                                <p th:case="5">
                                    <option th:value="'/product-list.html?pageSize=5&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">1页 显示 5 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=10&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=12&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=15&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="10">
                                    <option th:value="'/product-list.html?pageSize=5&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=10&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">1页 显示 10 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=12&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=15&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="12">
                                    <option th:value="'/product-list.html?pageSize=5&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=10&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=12&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">1页 显示 12 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=15&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 15 件商品</option>
                                </p>
                                <p th:case="15">
                                    <option th:value="'/product-list.html?pageSize=5&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 5 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=10&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 10 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=12&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}">1页 显示 12 件商品</option>
                                    <option th:value="'/product-list.html?pageSize=15&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}" th:selected="selected">1页 显示 15 件商品</option>
                                </p>
                            </select>
                        </label>
                    </form>
                </div>
                <div class=" auto-clear equal-container better-height furgan-products">
                    <ul class="row products columns-3">
                        <li class="product-item wow fadeInUp product-item list col-md-12 post-24 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-table product_cat-new-arrivals product_tag-light product_tag-hat product_tag-sock first instock featured shipping-taxable purchasable product-type-variable has-default-attributes"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp" th:each="product:${productList}">
                            <div class="product-inner images">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="#" th:href="@{'/single-product-simple.html?id='+${product.productId}}">
                                        <img class="img-responsive"
                                             src="assets/images/apro161-1-600x778.jpg"
                                             alt="Moss Sofa" width="600" height="778" th:src="${product.pimage}">
                                    </a>
                                    <div class="flash">
                                        <span class="onnew"><span class="text">新品</span></span></div>
                                    <form class="variations_form cart" method="post" enctype="multipart/form-data">
                                        <table class="variations">
                                            <tbody>
                                            <tr>
                                                <!--<td class="value">
                                                    <select title="box_style" data-attributetype="box_style"
                                                            data-id="pa_color"
                                                            class="attribute-select " name="attribute_pa_color"
                                                            data-attribute_name="attribute_pa_color"
                                                            data-show_option_none="yes">
                                                        <option data-type="" data-pa_color="" value="">Choose an
                                                            option
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#3155e2" value="blue"
                                                                class="attached enabled">蓝色
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#49aa51" value="green"
                                                                class="attached enabled">绿色
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#ff63cb" value="pink"
                                                                class="attached enabled">粉色
                                                        </option>
                                                    </select>
                                                    <div class="data-val attribute-pa_color"
                                                         data-attributetype="box_style"><a class="change-value color"
                                                                                           href="#"
                                                                                           style="background: #3155e2;"
                                                                                           data-value="blue"></a><a
                                                            class="change-value color" href="#"
                                                            style="background: #49aa51;" data-value="green"></a><a
                                                            class="change-value color" href="#"
                                                            style="background: #ff63cb;" data-value="pink"></a></div>
                                                    <a class="reset_variations" href="#" style="visibility: hidden;">清除</a>
                                                </td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="24">快速查看</a>
                                </div>
                                <div class="product-info">
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating"><span style="width:65%">Rated <strong
                                                class="rating">4</strong> out of 5</span></div>
                                        <span class="review">(1)</span></div>
                                    <h3 class="product-name product_title">
                                        <a href="#" th:text="${product.productName}" th:href="@{'/single-product-simple.html?id='+${product.productId}}">Moss Sofa</a>
                                    </h3>
                                    <span class="price">
                                        <span class="furgan-Price-amount amount">
                                            <span class="furgan-Price-currencySymbol">￥</span>
                                            <span th:text="${product.price}"></span>
                                        </span>
                                    </span>
                                    <div class="furgan-product-details__short-description">
                                        <p th:text="${product.context}">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante.</p>
                                        <ul>
                                            <li th:text="${product.context}">Water-resistant fabric with soft lycra detailing inside</li>
                                            <li>CLean zip-front, and three piece hood</li>
                                            <li>Subtle branding and diagonal panel detail</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="group-button">
                                    <div class="group-button-inner">
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button"
                                               th:href="@{'/addProductToCart?id='+${product.productId}}">添加到购物车</a>
                                        </div>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show" th:switch="${product.starIsDelete}">
                                                <a href="#" th:case="4" th:text="添加到收藏夹" class="button add_to_wishlist"
                                                   th:href="@{'/addStarInProductList?productId='+${product.productId}+'&starId='+${product.starId}
                                                   +'&starIsDelete='+${product.starIsDelete}+'&pageNo='+${pageInfo.getPageNum()}+'&pageSize='+${pageInfo.getPageSize()}
                                                   +'&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}}">
                                                    </a>
                                                <a href="#" th:case="3" th:text="已添加到收藏夹" class="button added_to_wishlist"
                                                   th:href="@{'/addStarInProductList?productId='+${product.productId}+'&starId='+${product.starId}
                                                   +'&starIsDelete='+${product.starIsDelete}+'&pageNo='+${pageInfo.getPageNum()}+'&pageSize='+${pageInfo.getPageSize()}
                                                   +'&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}}">
                                                    </a>
                                                <a href="#" th:case="*" th:text="添加到收藏夹" class="button add_to_wishlist"
                                                   th:href="@{'/addStarInProductList?productId='+${product.productId}+'&starId='+${product.starId}
                                                   +'&starIsDelete='+${product.starIsDelete}+'&pageNo='+${pageInfo.getPageNum()}+'&pageSize='+${pageInfo.getPageSize()}
                                                   +'&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}}">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="furgan product compare-button">
                                            <a href="/404.html" class="compare button">比较其他商品</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shop-control shop-after-control">
                    <nav class="furgan-pagination">
                        <span th:each="pageNo:${#numbers.sequence(1,pageInfo.getPages())}">
                            <a class="page-numbers current" href="#"  th:text="${pageNo}"
                               th:href="@{'/product-list.html?pageNo='+${pageNo}+'&pageSize='+${pageInfo.getPageSize()}
                               +'&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}}">
                            </a>
                        </span>

                        <a class="next page-numbers" href="#"
                           th:href="@{'/product-list.html?pageNo='+${pageInfo.getNextPage()}+'&pageSize='+${pageInfo.getPageSize()}
                           +'&condition='+${condition}+'&cid='+${cid}+'&min='+${min}+'&max='+${max}+'&s='+${s}}">
                            下一页
                        </a>
                    </nav>
                    <p class="furgan-result-count">
                        显示
                        <span th:text="${pageInfo.getStartRow()}">1</span>–
                        <span th:text="${pageInfo.getEndRow()}">12</span>
                        件商品 共
                        <span th:text="${pageInfo.getTotal()}">20</span>
                        件商品
                    </p>
                </div>
            </div>
            <div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <div id="furgan_product_search-2" class="widget furgan widget_product_search">
                        <form class="furgan-product-search">
                            <input id="furgan-product-search-field-0" class="search-field"
                                   placeholder="输入你想搜索的商品..." value="" name="s" type="search">
                            <button type="submit" value="Search">搜索</button>
                        </form>
                    </div>
                    <div id="furgan_price_filter-2" class="widget furgan widget_price_filter">
                        <h2 class="widgettitle">按价格筛选<span class="arrow"></span></h2>
                        <form method="post">
                            <p class="furgan-form-row furgan-form-row--wide form-row form-row-wide">
                                <label for="from">最低价&nbsp</label>
                                <input type="text"
                                       name="min" id="from" autocomplete="10" value="" th:placeholder="${min}"></p>
                            <p class="furgan-form-row furgan-form-row--wide form-row form-row-wide">
                                <label for="to">最高价&nbsp</label>
                                <input type="text"
                                       name="max" id="to" autocomplete="999" value="" th:placeholder="${max}"></p>
                            <p class="form-row">
                                <button id="buttonFilter" type="button" class="furgan-Button button"
                                        name="filterButton" value="">筛选
                                </button>
                            </p>
                        </form>
                    </div>
                    <p th:height="20px"></p>
                    <div id="furgan_product_categories-3" class="widget furgan widget_product_categories"><h2
                            class="widgettitle">商品分类<span class="arrow"></span></h2>
                        <ul class="product-categories" th:each="category:${categoryList}">
                            <li class="cat-item cat-item-22">
                                <div th:swith="${category.categoryId==null}">
                                    <a href="#" th:href="@{'/product-list.html?pageNo'+${pageInfo.getPageNum()}+'&pageSize='+${pageInfo.getPageSize()}
                                    +'&condition='+${condition}+'&cid='+${category.categoryId}+'&min='+${min}+'&max='+${max}+'&s='+${s}}"
                                       th:text="${category.categoryName}">Light</a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div><!-- .widget-area -->
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>

<script>
    $(function () {
        /*
        var href = window.location.href;
        var search = window.location.search;
        alert(href);
        // 可以拿到值
        $.ajax({
            type:"POST",
            url:"priceRangeFilter",
            dataType:"json",
            data:{"min":min,"max":max,"href":href,"search":search},
            success:function (data) {
                if (data["success"]){
                    layer.msg("查询成功！跳转中···",{time:1700});
                }
                else{
                    layer.msg("查询失败！请稍后再试。",{time:1600});
                }
            }
        })*/
        //价格筛选
        /*$("#from").bind('input propertychange',function () {
            var min = $("#from").val().trim();
            alert(max);
            $.ajax({
                type:"POST",
                url:"priceRangeFilter",
                dataType:"json",
                data:{"min":min},
                success:function (data) {
                    if (data["success"]){
                        alert("查询成功！跳转中···");
                    }
                    else{
                        alert("查询失败！请稍后再试。");
                    }
                }
            })
        })
        $("#to").bind('input propertychange',function () {
            var max = $("#from").val().trim();
            alert(max);
            $.ajax({
                type: "POST",
                url: "priceRangeFilter",
                dataType: "json",
                data: {"max": max},
                success: function (data) {
                    if (data["success"]) {
                        alert("查询成功！跳转中···");
                    } else {
                        alert("查询失败！请稍后再试。");
                    }
                }
            })
        })*/


        $("#buttonFilter").click(function () {
            var min=$("#from").val().trim();
            var max=$("#to").val().trim();
            alert(min+"|"+max);
            $.ajax({
                type:"POST",
                url:"priceRangeFilter",
                dataType:"json",
                data:{"min":min,"max":max},
                success:function (data) {
                    if (data["success"]){
                        layer.msg("查询成功！跳转中···",{time:1700},function () {
                            layer.close(index);
                        })
                        window.location.href=data["msg"];
                    }
                    else{
                        layer.msg("查询失败！请稍后再试。",{time:1700},function () {
                            layer.close(index);
                        })
                    }
                }
            })
        })

        //条件筛选
        $(".orderby").on("change",function () {
            var url = $(this).find("option:selected").attr("value");
            window.open(url,'_self');
        })

        //页面显示商品数
        $(".option-perpage").on("change",function () {
            var url = $(this).find("option:selected").attr("value");
            window.open(url,'_self');
        })
    })
</script>
</body>
</html>