<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment/static::link}"></div>
    <title>Online Mall - 收藏夹 </title>
</head>
<body>
<div th:replace="~{fragment/header::header}"></div>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">收藏夹</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>用户</span></a></li>
                <li class="trail-item trail-end active"><span>收藏夹</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main  main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <form id="yith-wcwl-form" class="furgan">
                        <!-- TITLE -->
                        <!-- WISHLIST TABLE -->
                        <!--<span style="">[[${USERID}]]</span>-->
                        <!--<span><%=session.getAttribute("USERID") %></span>-->
                        <div class="box">

                            <!--<div class="box-header">-->
                                <!--<div id="toolbar">-->
                                    <!--<button class="btn btn-danger remove-batch">批量删除</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="box-body">
                                <table id="table1" class="table table-bordered table-hover">
                                </table>
                            </div>
                        </div>

                        <table class="shop_table cart wishlist_table" data-pagination="no" data-per-page="5"
                               data-page="1" data-id="" data-token="">
                            <thead>
                            <tr>
                                <th class="product-remove"></th>
                                <th class="product-thumbnail"></th>
                                <th class="product-name">
                                    <span class="nobr">Product Name</span>
                                </th>
                                <th class="product-price">
                    <span class="nobr">
                        Unit Price                    </span>
                                </th>
                                <th class="product-stock-status">
                    <span class="nobr">
                        Stock Status                    </span>
                                </th>
                                <th class="product-add-to-cart"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="yith-wcwl-row-29" data-row-id="29">
                                <td class="product-remove">
                                    <div>
                                        <a href="#"  onclick="this.parentNode.parentNode.parentNode.style.display='none'"
                                           class="remove remove_from_wishlist" title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img src="assets/images/apro1113-600x778.jpg"
                                             class="attachment-furgan_thumbnail size-furgan_thumbnail" alt="img"
                                             width="600" height="778"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Short Sleeve
                                        Loose</a>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="29">查看详情</a></td>
                                <td class="product-price">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">￥</span>129.00</span></td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">有现货</span></td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a href="#"
                                       data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="29" data-product_sku="003D754"
                                       aria-label="Add “Alarm Clock” to your cart" rel="nofollow"> 添加到购物车</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            <tr id="yith-wcwl-row-25" data-row-id="25">
                                <td class="product-remove">
                                    <div>
                                        <a href="#"  onclick="this.parentNode.parentNode.parentNode.style.display='none'"
                                           class="remove remove_from_wishlist" title="Remove this product">×</a>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img src="assets/images/apro151-1-600x778.jpg"
                                             class="attachment-furgan_thumbnail size-furgan_thumbnail" alt="img"
                                             width="600" height="778"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Office Chair</a>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="25">查看详情</a></td>
                                <td class="product-price">
                                    <del><span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">￥</span>89.00</span></del>
                                    <ins><span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">￥</span>79.00</span></ins>
                                </td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">有现货</span></td>
                                <td class="product-add-to-cart">
                                    <!-- Date added -->
                                    <!-- Add to cart button -->
                                    <a href="#"
                                       data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="25" data-product_sku="018Q711"
                                       aria-label="Add “Office Chair” to your cart" rel="nofollow"> 添加到购物车</a>
                                    <!-- Change wishlist -->
                                    <!-- Remove from wishlist -->
                                </td>
                            </tr>
                            <tr id="yith-wcwl-row-22" data-row-id="22">
                                <td class="product-remove">
                                    <div>
                                        <button onclick="this.parentNode.parentNode.parentNode.style.display='none'"
                                           class="remove remove_from_wishlist" title="Remove this product">×</button>
                                    </div>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img src="assets/images/apro181-2-600x778.jpg"
                                             class="attachment-furgan_thumbnail size-furgan_thumbnail" alt="img"
                                             width="600" height="778"> </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">Wall Lamp</a>
                                    <a href="#" class="button yith-wcqv-button" data-product_id="22">查看详情</a></td>
                                <td class="product-price">
                                    <span class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">￥</span>98.00</span></td>
                                <td class="product-stock-status">
                                    <span class="wishlist-in-stock">有现货</span></td>
                                <td class="product-add-to-cart">

                                    <a href="#"
                                       data-quantity="1"
                                       class="button product_type_simple add_to_cart_button ajax_add_to_cart add_to_cart button alt"
                                       data-product_id="22" data-product_sku="389N100"
                                       aria-label="Add “Wall Lamp” to your cart" rel="nofollow"> 添加到购物车</a>

                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer::footer}"></div>
<div th:replace="~{fragment/footer::footer_mobile}"></div>
<div th:replace="~{fragment/footer::footer_up}"></div>

<div th:replace="~{fragment/static::script}"></div>

<script language="JavaScript">
    // // $.ajax({
    // //     url: ' getUSERID.do',success:function (data) {
    // //         alert(data);
    // //         return data;
    // //     }
    // // })
    // // alert(data);
    // function getMyName(){
    //     var myName="<%=session.getAttribute('USERID')%>";
    //     // alert(myName);
    //     return myName;
    // }
    $(function () {
        window.operateEvents = {
            // 更改操作的方法
            'click .btn_update': function (e, value, row, index) {
                var id = row.productId;
                window.location.href = "/single-product-simple.html?id=" + id;
            },
            //删除 单行/
            'click .btn_del': function (e, value, row, index) {
                var productId = row.productId;
                layer.confirm("确认删除: " + row.productName + "  ?", {icon: 3, title: '删除操作'}, function (index) {
                    //do something
                    $.ajax({
                        type: "delete",
                        url: "/deleteStar",
                        contentType: "application/json",
                        data: JSON.stringify({"productId": productId}),
                        success: function (msg) {
                            if (msg["success"]) {
                                $('#table1').bootstrapTable('remove', {
                                    field: 'productId',
                                    values: [productId]
                                });
                                layer.msg("操作成功", {time: 700});
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        };
        // //批量删除的按钮操作
        // $(".remove-batch").click(function () {
        //     var rows = $('#table1').bootstrapTable('getSelections');//获取选中的行
        //     var ids = $.map(rows, function (row) {
        //         return row.starId;
        //     });
        //     if (ids.length > 0) {
        //         layer.confirm("确认删除", {icon: 3, title: '删除操作'}, function (index) {
        //             //do something
        //             $.ajax({
        //                 type: "delete",
        //                 url: "/deleteBooks",
        //                 contentType: "application/json",
        //                 data: JSON.stringify(ids),
        //                 success: function (msg) {
        //                     if (msg["success"]) {
        //                         $('#table1').bootstrapTable('refresh');
        //                         layer.msg("批量操作成功", {time: 700});
        //                     }
        //                 }
        //             });
        //             layer.close(index);
        //         });
        //     } else {
        //         layer.msg("未选中行", {time: 700});
        //     }
        // });

        $('#table1').bootstrapTable('destroy').bootstrapTable({

            method: 'get',
            url: "/getstars",
            striped: true,
            dataField: "list",
            totalField: "total",
            pageNumber: 1,
            pageSize: 10,
            pagination: true,
            queryParamsType: 'limit',
            // search: true,
            queryParams: function (params) {
                return {
                    pageSize: params.limit,
                    pageNo: params.offset / params.limit + 1
                }
            },
            sidePagination: 'server',
            pageList: "[10, 25, 50, 100, all]",
            showRefresh: false,
            clickToSelect: true,
            toolbarAlign: 'left',
            buttonsAlign: 'right',
            // toolbar: '#toolbar',
            showColumns: false,
            paginationLoop: false,
            columns: [
                {
                    //  title: '全选/反选',
                    visible:false,
                    checkbox: true
                },
                {
                    title: '商品ID',
                    field: 'productId',
                    visible: false,
                    width: 160
                },
                {
                    title: '商品图片',
                    field: 'pimage',
                    visible: false,
                    width: 160,
                    align: 'center'
                },
                {
                    title: '商品名',
                    field: 'productName',
                    visible: true,
                    width: 160,
                    align: 'center'
                },
                {
                    title: '商品价格',
                    field: 'price',
                    visible: true,
                    width: 160,
                    align: 'center'
                },
                {
                    title: '商品状态',
                    field: 'status',
                    width: 160,
                    align: 'center'
                },

                {
                    title: '操作',
                    width: 160,
                    align: 'center',
                    formatter: function (value, row, index) {
                        return [
                            '<button  type="button" class="btn btn-danger btn-xs btn_del">',
                            '删除',
                            '</button>',
                            ' <button  type="button" class="btn btn-primary btn-xs btn_update">',
                            '查看',
                            '</button>',
                        ].join('')
                    },
                    events: window.operateEvents
                }
            ],
            locale: 'zh-CN',
            responseHandler: function (res) {
                return res['data'];
            }
        });
    })
</script>

</body>
</html>